* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* google font */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(204, 200, 200);
  font-size: 0.85rem;
}

.page {
  /* vw: viewport width
  브라우저 화면 너비의 1%가 1vw */

  width: 100vw; /*화면 너비 100%*/
  height: 100vh; /*화면 높이 100%*/

  background-color: black;
}

.header {
  width: 100%;
  height: 70px;

  display: flex;
  /* align-items는 컨테이너의 자식에 각각 적용됨
  flexbox 의 세로축 위치에 설정 */
  align-items: center;

  /* justify-contetn는 컨테이너 안의 아이템 전체
  flexbox에서는 가로축 위치 설정 */
  justify-content: center;
}

.header__content {
  /* width 값이 최대 1240px */
  width: 100%;
  max-width: 1240px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content__btn {
  padding: 8px 12px;
  background-color: #ff6f0f;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  align-items: left;
}

.header__content__logo {
  height: 50%;
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__content {
  width: 100%;
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 120px;
  margin-bottom: 50px;
}

.main__content__banner {
  display: flex;
  align-items: center;
}

.main__content__banner > .text {
  font-size: 36px;
  font-weight: 5000;
  color: white;
}

.main__content__banner > .icon {
  width: 36px;
  margin-top: 7px;
  margin-right: 5px;
}

.main__content__search-box {
  margin-top: 30px;
  gap: 10px;
  display: flex;
}

.main__content__search-box > .dialog-btn {
  display: flex;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;

  width: 100px;
  height: 46px;

  font-size: 16px;
}

.main__content__search-box > .dialog-btn__icon {
  width: 20px;
}

.search-box {
  width: 100%;
  max-width: 1240px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 20px;
  height: 48px;
  padding: 6px;
  width: 100%;
}

.search-bar2 {
  display: flex;
  flex: 1;
}

.search-bar2 > select {
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: black;
  color: white;
}

.search-bar2 > input {
  font-size: 18px;
  color: gray;

  border: none;
  background-color: black;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid gray;
}

.search-bar > button {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.recommend {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}

.recommend p {
  margin: 0;
  cursor: pointer;
  font-size: 16px;
}

.main__nav {
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.main__nav > div {
  width: 120px;
  height: 100px;
  background-color: #363940;
  padding: 5px 0 0 5px;
  border-radius: 10px;
  cursor: pointer;
}

.main__nav > div img {
  padding: 5px 0 0 5px;
}

.nav_icon {
  padding: 25px 0 0 10px;
  color: white;
}

.nav__location {
  margin-top: 50px;
  margin-bottom: 400px;
  gap: 10px;
  width: 100%;
  max-width: 960px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.nav__location__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 30px;
  padding: 10px;
  background-color: #363940;
  color: white;

  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.footer {
  width: 100%;
  padding: 40px 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.footer__div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;

  width: 100%;
  max-width: 1240px;
}

.footer__logo {
  height: 26px;
}

.footer__div__icon {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer__div__icon img {
  height: 18px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 700px;
  color: white;

  gap: 80px;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

.footer__nav__info {
  font-size: 13px;
  color: #b6b8bd;
  line-height: 1.6;

  border-top: 1px solid gray;
  padding-top: 30px;

  width: 100%;
  max-width: 1240px;
}

.footer__nav__info p {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
