/* 1. 전체 선택자 */
/* 전체 선택자는 HTML에서 사용할 수 있는 모든 요소를 한 번에 선택자로 지정하는 방법으로 * 기호(별표, asterisk)를 사용해 표시합니다. */

* {
    /* CSS 코드 */
}

/* 2. 태그 선택자 */
/* 태그 선택자는 HTML 태그명으로 선택자를 지정하는 방법입니다. */
/* 태그 선택자는 선택자에 지정된 태그명과 일치하는 모든 요소를 한 번에 선택합니다. */

태그명 {
    /* CSS 코드 */
}

p {
    font-weight: 900;
    color: brown;
}

/* 3. 아이디 선택자 */
/* 아이디 선택자는 HTML 태그에서 사용할 수 있는 id 속성값을 이용해 선택자를 지정하는 방법입니다. */
/* 이때 속성값 앞에는 # 기호를 붙여 구분합니다. */

/* id 속성값은 고유해야 합니다. */
/* HTML에서 id 속성값은 하나의 HTML 문서 안에서 고유한 값이어야 합니다. */
/* 예를 들어, index.html에 id 속성값이 title인 태그가 있다면, index.html에서는 더 이상 태그의 id 속성값을 title로 지정할 수 없습니다. */
/* 단, other.html과 같은 다른 페이지에서는 사용 가능합니다. */

/* index.html */
/* <div id="title">This is the title in index.html</div> */

/* other.html */
/* <div id="title">This is the title in other.html</div> */

#id속성값 {
    /* CSS 코드 */
}

/* 4. 클래스 선택자 */
/* 클래스 선택자는 HTML 태그에서 사용할 수 있는 class 속성값을 이용해 선택자를 지정하는 방법입니다. */
/* 이때 속성값 앞에 . 기호를 붙입니다. */

.class속성값 {
    /* CSS 코드 */
}

/* 클래스 선택자는 실무에서 가장 많이 사용하는 선택지 지정 방법입니다. */
/* class 속성은 id 속성과 다르게 속성값을 중복해서 사용할 수 있어서 하나의 클래스 스타일을 잘 정의하면 여러 곳에서 사용할 수 있습니다. */

.username {
    color: green;
}
.password {
    color: skyblue;
}
.blue {
    color: blue;
}

/* 5. 그룹 선택자 */
/* 그룹 선택자는 여러 선택자를 하나로 그룹 지을 때 사용합니다. */
/* 선택자와 선택자는 콤마(,) 기호로 구분합니다. */
선택자1,
선택자2,
... 선택자n {
    /* CSS 코드 */
}

p {
    color: gray;
}
#title {
    color: gray;
}
.gray {
    color: gray;
}

p,
#title,
.gray {
    color: gray;
}

/* 6. 자식 선택자 */
/* 자식 선택자는 부모 요소의 하위에 있는 자식 요소에 스타일을 적용할 때 사용합니다. */
/* 2개 이상의 선택자가 사용되며, 선택자와 선택자는 > 기호로 구분합니다. */

부모 선택자 > 자식 선택자 {
    /* CSS 코드 */
}

/* class 속성값이 box인 요소와 자식 관계에 있는 p 태그 */
.box > p {
    color: red;
}

/* 7. 하위 선택자 */
/* 하위 선택자는 선택자의 범위를 특정 부모 요소의 하위 요소로 한정하는 방법입니다. */
/* 2개 이상의 선택자를 사용하고, 선택자와 선택자는 공백으로 구분합니다. */

선택자1 선택자2 선택자3 {
    /* CSS 코드 */
}

/* 다음 코드는 div 태그의 하위에 있는 p 태그로 작성된 요소만 선택해 텍스트 색상을 변경합니다. */

div p {
    color: turquoise;
}
